
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcılar</h2>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-4  profile_details">

                <div class="well profile_view">
                    <div class="col-sm-12">

                        <h4 class="brief"><i>@*@item.WriterName @item.WriterSurname*@</i></h4>
                        <div class="left col-md-9 col-sm-9">
                            <h2></h2>
                            <p><strong>About: </strong> @item.WriterAbout </p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Mail:@* @item.WriterEmail*@</li>
                                <li><i class="fa fa-phone"></i> Telefon No:@* @item.PhoneNumber*@ </li>
                            </ul>
                        </div>
                        <div class="right col-md-3 col-sm-3 text-center">
                            <img src="~/gentelella-master/production/images/img.jpg" alt="" class="img-circle img-fluid">
                        </div>

                    </div>
                    <div class=" profile-bottom text-center">
                        <div class=" col-sm-12 emphasis">

                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-user"> </i><a href="/Admin/Users/UserProfile"> Profili Görüntüle</a>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        }
    </div>

</div>


